<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}

{% with errors = get_flashed_messages() %}
{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-6 col-md-offset-5" align="right"><img class="coverImage" src=http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg></div>
  <div class="col-md-6 col-md-offset-5" align="left">
    <ul>
      <ul>Title: {{book.title}}</ul>
      <ul>Author: {{book.author}}</ul>
      <ul>Year: {{book.year}}</ul>
      <ul>ISBN: {{book.isbn}}</ul>
      <ul>Average rating from GoodReads: {{avg_rating}}</ul>
      <ul>Number of ratings from GoodReads: {{ratings_count}}</ul> 
    </ul>
  </div>
</div> 



<div class="row">
    <div class="col-md-12 col-md-offset-5" align="center">
  <h1>Reviews from other readers</h1>
  </div>  
</div>
{% for rev in reviews %}
<div class="row">
<li class=resultsList>
    <div class="resultSection">
     <li class=resultItem>
        <div class="col-md-12 col-md-offset-5" align="center">
        <ul class="resultDetail">Review by <span class="resultTitle">{{ rev['username'] }}</span><br> Rating: {{ rev['review_rating'] }}</ul>
        <ul class="resultDetail"> {{ rev['review_text'] }}</ul>
        </div>
    </li>
    </a>
    </div>
</li>
</div>
{% endfor %}

<div  class="row">
    <div class="col-md-12 col-md-offset-5" align="center">
<form class="sendReviewForm" action="{{ url_for('reviews', book_isbn=book.isbn) }}" method="POST">
    <h1>Write a review!</h1>
  <h3>Rating</h3>
    <label class="radio-inline">1
        <input type="radio" name="rating" value="1">
        <span class="checkmark"></span>
      </label>
      
      <label class="radio-inline">2
        <input type="radio" name="rating" value="2">
        <span class="checkmark"></span>
      </label>
      
      <label class="radio-inline">3
        <input type="radio" name="rating" value="3">
        <span class="checkmark"></span>
      </label>
      
      <label class="radio-inline">4
        <input type="radio" name="rating" value="4">
        <span class="checkmark"></span>
      </label> 

       <label class="radio-inline">5
        <input type="radio" name="rating" value="5">
        <span class="checkmark"></span>
      </label> 
<br>
      <textarea rows="4" cols="100" placeholder="Write a review" name="review"></textarea><br>
      <button class="formButton">Submit</button>
</form>
</div>
</div>

{% endblock %}