<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}
<img src=http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg> 


Average rating: {{rating}}<br>
Title: {{book.title}}<br>
Author: {{book.author}}<br>
Year: {{book.year}}<br>
ISBN: {{book.isbn}}<br>


<textarea placeholder="Write a review"></textarea><br>
<button class="buttonn">Submit</button><br>

{% endblock %}