<!DOCTYPE html>
<html>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

 
    <head>
      <meta charset="UTF-8">
      
      <title>Book's reviews</title>
      <ul class="menuList">
        {% if not session['user_id'] %}
            <li class="menuItem"><a href="{{ url_for('login') }}">Login</a></li>
            <li class="menuItem"><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}    
        {% if session['user_id'] %}
            <li class="menuItem"><a href="{{ url_for('logout') }}">Logout</a></li>
            <li class="menuItem"><a href="{{ url_for('profile') }}">My reviews</a></li>
            <li class="menuItem"><a href="{{ url_for('search') }}">Search</a></li>
        {% endif %}
        <li class="menuName">Book data</li>
      </ul>
      {% block heading %}
      {% endblock %}
    </head>

    <body>


        {% block body %}

        {% endblock %}
    </body>
</html>
