<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% extends "layout.html" %}

{% block heading %}

{% endblock %}


{% block body %}
{% with errors = get_flashed_messages() %}
{% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}
{% endif %}
{% endwith %}


<form class="loginForm" action="{{ url_for('login') }}" method="POST">
    <h1>Login</h1>
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button class="formButton">Submit</button>
</form>
{% endblock %}