<!DOCTYPE html>
{% extends "layout.html" %}

{% block heading %}
    Sign up
{% endblock %}

{% block body %}
    <form action = "{{ url_for('registrationcheck') }}" method="POST">
        <input type="text" name="username" placeholder="Enter your email adress">
        <input type="password" name="password" placeholder="Enter your password">
        <input type="password" name="password_confirmation" placeholder="Confirm your password">
    
    {% with errors = get_flashed_messages() %}        
        {% if errors %}
            <ul class =flashes>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <button>Submit</button>
    </form>
{% endblock %}