<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% extends "layout.html" %}

{% block heading %}
  
{% endblock %}

{% block body %}
    <form action = "{{ url_for('search') }}" method="POST">
            <div class="wrap">
                    <div class="search">
                       <input type="text" name="keyword" class="searchTerm" placeholder="Enter a title, author or ISBN number">
                       <button class="button">
                         Search
                      </button>
                    </div>
                 </div>
    </form>

    <div class="padding"></div>

    
    {% for book in results %}
        <li class=resultsList>
            <div class="resultSection">
            <a href= {{ url_for('details', book_isbn=book.isbn) }}>
             <li class=resultItem>
                <ul class="resultDetail"><span class="resultTitle">{{ book.title }} </span>By {{ book.author }}</ul>
                <ul class="resultDetail"> ISBN: {{ book.isbn }}</ul>
            </li>
            </a>
            </div>
        </li>
    {% endfor %}
{% endblock %}